<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904116863794-3isglk9n366tjvtlb60m0j5mclhi5b6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904116863794-3isglk9n366tjvtlb60m0j5mclhi5b6p</string>
	<key>API_KEY</key>
	<string>AIzaSyBZoe8T7tcavD4Ti9gRVRE9jeGg-PSJyAU</string>
	<key>GCM_SENDER_ID</key>
	<string>904116863794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelrobertellis.TimeDraw</string>
	<key>PROJECT_ID</key>
	<string>time-draw</string>
	<key>STORAGE_BUCKET</key>
	<string>time-draw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904116863794:ios:8c9cd47d099f60f2eecd2b</string>
</dict>
</plist>