<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>isDailyGoalEnabled</string>
			<key>Title</key>
			<string>Daily Goal Note Space</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>15</integer>
			<key>Key</key>
			<string>timePickerGranularity</string>
			<key>Title</key>
			<string>Time Selection Interval</string>
			<key>Titles</key>
			<array>
				<string>1 min</string>
				<string>2 min</string>
				<string>3 min</string>
				<string>5 min</string>
				<string>10 min</string>
				<string>12 min</string>
				<string>15 min</string>
				<string>20 min</string>
				<string>30 min</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>12</integer>
				<integer>15</integer>
				<integer>20</integer>
				<integer>30</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>showCalendarItemType</string>
			<key>Title</key>
			<string>Items</string>
			<key>Titles</key>
			<array>
				<string>Scheduled</string>
				<string>All</string>
				<string>Unscheduled</string>
			</array>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>showItemRecurrenceType</string>
			<key>Title</key>
			<string>Recurrence</string>
			<key>Titles</key>
			<array>
				<string>Recurring</string>
				<string>All</string>
				<string>Non Recurring</string>
			</array>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
