<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>TimeDraw Widget needs access to your calendars to display your events and reminders.</string>
	<key>NSRemindersUsageDescription</key>
	<string>TimeDraw Widget needs access to your reminders to display them on the clock face.</string>
</dict>
</plist>
